.vfrc-header .vfrc-avatar {
  display: none;
}

.vfrc-assistant-info .vfrc-avatar {
  display: none;
}

.jyiuei7 {
  background-color: #ffffff;
  border: none;
  border-left: 2px solid #48AEE1;
  border-right: 2px solid #48AEE1;
  border-top: 2px solid #48AEE1;
}

.jyiuei7:hover {
  background-color: #48AEE1;
}

._1t7e06e0 {
  color: #48AEE1;
}

._1t7e06e0:hover {
  color: #ffffff;
}

.vfrc-header {
  background-color: #ffffff;
}

._1gdvh9t1 {
  height: 100px;
}

.dio4eo2 {
display: none;
}

.s9t60i1 {
  border: none;
  border-left: 2px solid #48AEE1;
  border-right: 2px solid #48AEE1;
  border-bottom: 2px solid #48AEE1;
}

._1wkq7nf1 ._1vj16242 {
  padding-top: 40px;
}

._12m8tlu4 {
  color: #48AEE1;
}

._1q15b0b5 {
  margin-top: 50%;
}
