.vfrc-chat {
  box-shadow: none;
}

.vfrc-header .vfrc-avatar {
  display: none;
}

.vfrc-assistant-info .vfrc-avatar {
  display: none;
}

.jyiuei7 {
  background-color: #ffffff;
  border: 1px solid #48AEE1;
}

.jyiuei7:hover {
  background-color: #48AEE1;
}

._1t7e06e0 {
  color: #48AEE1;
  position: relative;
  bottom: 2px;
}

._1t7e06e0:hover {
  color: #ffffff;
}

.vfrc-header {
  background-color: #ffffff;
  border: none;
  border-left: 2px solid #48AEE1;
  border-right: 2px solid #48AEE1;
  border-top: 2px solid #48AEE1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

._1gdvh9t1 {
  height: 100px;
  border: 2px solid #48AEE1;
}

._1gdvh9t1:hover {
  border: 2px solid #48AEE1;
}

._1gdvh9t1:focus {
  border: 2px solid #48AEE1;
}

.dio4eo2 {
display: none;
}

.s9t60i1 {
  border: none;
  border-left: 2px solid #48AEE1;
  border-right: 2px solid #48AEE1;
  border-bottom: 2px solid #48AEE1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

._1wkq7nf1 ._1vj16242 {
  padding-top: 40px;
}

._12m8tlu4 {
  color: #48AEE1;
}

._1q15b0b5 {
  margin-top: 50%;
}

._12m8tlu1 {
  border: 1px solid #48AEE1;
}

._11kfxpg0 {
  background-color: #ffffff;
}

._1vj16245 {
  background: none;
}

.vfrc-avatar:not(.vfrc-header .vfrc-avatar):not(.vfrc-assistant-info .vfrc-avatar) {
  height: 45px;
  width: 45px;
  display: block;
  overflow: hidden;
}

._11kfxpg0 {
  font-size: 16px;
}

._15emaa41 {
  font-size: 16px;
}

._1gdvh9tc {
  display: none;
}

.vfrc-prompt .vfrc-button:first-child {
  position: relative;
  color: transparent;
}

.vfrc-prompt .vfrc-button:first-child::before {
  content: "Új csevegés indítása";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.vfrc-prompt .vfrc-button:nth-child(2) {
  position: relative;
  color: transparent;
}

.vfrc-prompt .vfrc-button:nth-child(2)::before {
  content: "Mégse";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
