.s9t60i1 {
  max-height: 60vh;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}

.vfrc-header {
  display: none;
}


._1vj16245 {
  padding: 0;
}

.vfrc-chat {
  overflow: visible;
  border: 2px solid #48AEE1;
}

._1gdvh9t0 {
  width: 107%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  position: relative;
  top: 25px;
  height: 60px
}

.ck2fbe1 ._1vj16242 {
  visibility: hidden;
}

._16eqxif2 {
  scale: 1.7;
  position: relative;
  bottom: 10px;
}

._1gdvh9t2 {
padding-right: 20px;
}

._1gdvh9td {
  align-items: center;
}

._1nzwwii4 {
  visibility: visible;
  font-size: 0;
  position: relative;
}

._1mt9pkg2 {
  font-size: 0;
  position: relative;
}

._1mt9pkg2::after {
  content: "A beszélgetés véget ért.";
  font-size: 14px; 
  color: inherit;
}

._1nzwwii4::after {
  content: "Új beszélgetés indítása";
  font-size: 14px;        /* állítsd az eredeti méretre */
  font-weight: 600;       /* félkövér */
  color: inherit;
}
