.s9t60i1 {
  max-height: 60vh;
}

.vfrc-header {
  display: none;
}

.s9t60i1 {
   border-top: 2px solid #48AEE1;
  border-left: 2px solid #48AEE1;
  border-right: 2px solid #48AEE1;
  border-bottom: none;
  border-radius: 15px;
}

.1vj16245 {
  padding: 0;
}

.vfrc-chat {
  overflow: visible;
}

.1gdvh9t0 {
  width: 104%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
