.vfrc-chat {
  border: 3px solid rgb(72, 174, 225) !important;
  border-radius: 10px !important;
  background-color: rgb(235, 235, 235);
}

.vfrc-header {
  height: 80px !important;
  min-height: 80px !important;
  background-color: white !important;
  border-bottom: 3px solid rgb(72, 174, 225) !important;
  position: relative;
  overflow: hidden;
}

.vfrc-header .vfrc-avatar-wrapper {
  height: 80px;
  width: 110px;
  display: block;
  overflow: hidden;
}

.vfrc-header .vfrc-avatar {
  height: 140px;
  width: 140px;
  display: block !important;
}

.vfrc-icon {
  color: rgb(72, 174, 225);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.vfrc-header::before {
  content: "MindentMent Rendelő chat";
  color: rgb(72, 174, 225);
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.vfrc-avatar:not(.vfrc-header .vfrc-avatar):not(.vfrc-assistant-info .vfrc-avatar) {
  height: 50px;
  width: 55px;
  border: 1px solid rgb(72, 174, 225);
  display: block;
  overflow: hidden;
}

.vfrc-assistant-info .vfrc-avatar {
  height: 160px;
  width: 260px;
  border: 1px solid rgb(72, 174, 225);
  display: block;
  overflow: hidden;
}

.vfrc-assistant-info--description {
  font-weight: bold;
  color: rgb(72, 174, 225);
  font-size: 18px;
}

.vfrc-system-response--actions .o231sh1:first-child .vfrc-button {
  border-radius: 8px !important;
  color: #f86c07 !important;
  background-color: #fef0e6 !important;
  line-height: 20px !important;
  padding: 7px 12px 6px !important;
  white-space: normal !important;
  word-break: break-word !important;
  text-align: left !important;
  height: fit-content !important;
  border: 1px solid #f86c07 !important; /* Vékony narancssárga körvonal */
  outline: transparent 0px !important;
}

.vfrc-system-response--actions .o231sh1:first-child .vfrc-button:hover {
  background-color: #fdd8c3 !important; /* Sötétebb háttér (eredeti #fef0e6-ból) */
  color: #d95a00 !important; /* Sötétebb narancssárga szöveg (eredeti #f86c07-ből) */
}
