.vfrc-chat {
  border: 3px solid rgb(89, 128, 144) !important;
  border-radius: 10px !important;
  background-color: rgb(240, 240, 240);
}

.vfrc-header {
  height: 80px !important;
  background-color: white !important;
  border-bottom: 3px solid rgb(89, 128, 144) !important;
  position: relative; /* Hozzáadva az abszolút pozicionált gyermekhez */
}

.vfrc-icon {
  color: rgb(89, 128, 144);
}

.vfrc-assistant-info--title {
  color: rgb(89, 128, 144);
  position: absolute;
  top: 10px;
  right: 10px;
}
