.vfrc-system-response .vfrc-message {
    background-color: black;
    color: white;
}

.vfrc-header {
    min-height: 80px !important;
    max-height: 80px !important;
    line-height: 80px !important;
    background-color: green !important;
}
